{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "trakt-proxy",
  "main": "src/index.ts",
  "compatibility_date": "2025-03-18",
  "vars": {
    "CLIENT_ID": "" 
  },
  "unsafe": {
    "bindings": [
      {
        "name": "RATE_LIMITER",
        "type": "ratelimit",
        "namespace_id": "1001",
        "simple": {
          "limit": 10,
          "period": 60
        }
      }
    ]
  }
}
